@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/*header*/

header {
  background-color: #986683;
  height: 61px;
}

img.logo-header_dr {
  width: 200px;
  height: 200px;
}

ul.redes-sociais {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 61px;
}

a.redes-sociais__link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.redes-sociais__link.marcar-consulta:hover {
  background-color: #00A19C;
  color: #fff;
}

a.redes-sociais__link img {
  margin-right: 5px;
}

li.header_doctoralia-nav {
  width: 100px !important;
}

li.redes-sociais_item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

a.redes-sociais__link.marcar-consulta {
  background-color: #fff;
  color: #986683;
  height: 28px;
  width: 155px;
  border-radius: 30px;
  padding: 10px;
}

.logo-header.col-4 {
  position: absolute;
  z-index: 10;
}

/*menu - Desktop e mobile*/

#redes-mobile__consulta, #redes-mobile__consulta2, #redes-mobile__consulta3 {
  display: none;
}

.nav-link:focus, .nav-link:hover {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-collapse {
  z-index: 999;
}

.nav-link {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-expand-lg .navbar-nav {
  justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-left: 30px;
}

/*Banner*/
.banner-bg__01 {
  background-image: url(../imagens/banner/banner-01-min.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

.banner-bg__02 {
  background-image: url(../imagens/banner/banner-02-min.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

.banner-imagem__pri {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1.banner-titulo {
  background-color: #fff;
  width: 300px;
  height: 60px;
  color: #00A19C;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
}

h1.banner-titulo.banner-titulo__after {
  margin-top: 165px;
  margin-bottom: 10px;
}

h1.banner-titulo.banner-titulo__before {
  width: 220px;
}

span.carousel-control-prev-icon, span.carousel-control-next-icon {
  display: none;
}

p.banner-paragrafo {
  color: #ffffff;
  font-size: 26px;
  font-weight: 800;
  line-height: 36px;
}

.banner-span {
  color: #ffffff;
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
}

/*sobre*/

.sobre {
  background-color: #FFF9F9;
  padding: 50px 0 50px 0;
}

.sobre-cont__box {
  align-items: center;
}

span.sobre-cont__span {
  font-size: 30px;
  font-weight: light;
  text-transform: uppercase;
  color: #986683;
}

h2.sobre-cont__titulo {
  font-size: 50px;
  font-weight: bold;
  color: #00A19C;
  margin: 15px 0;
}

p.sobre-cont__paragrafo2, .sobre-cont__paragrafo1 {
  font-size: 18px;
  font-weight: regular;
  color: #545762;
  margin: 30px 0 15px 0;
  line-height: 34px;
}

.img-thumbnail {
  background-color: transparent;
  border: none;
}

.botao-02 {
  background-color: #986683;
  border-radius: 37px;
  width: 125px;
  height: 33px;
  padding: 6px;
  font-size: 16px;
  font-weight: light;
  line-height: 29px;
  color: #fff;
  text-decoration: none;
}

.botao-02:hover {
  color: #fff;
  background-color: #00A19C;
}

/*Sintomas*/

.sintomas-conteudo.sintomas-mobile__conteudo.slick-initialized.slick-slider {
  display: none;
}

.sintomas-h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sintomas-after {
  background-color: #986683;
  width: 90%;
  height: 2px;
  margin-top: 0;
}

.sintomas {
  background: linear-gradient(0deg, #FFF9F9 0%, #FFF9F9 25%, #986683 25.1%, #986683 77.9%, #FFF9F9 43%, #FFF9F9 36%);
}

h2.sintomas-h2__titulo {
  font-size: 30px;
  font-weight: Regular;
  line-height: 46px;
  text-align: center;
  color: #00A19C;
}

.sintomas-cont {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 40px;
  border-radius: 20px;
}

.sintomas-ouvido {
  background-image: url(../imagens/foto-01-min.jpg);
}

.sintomas-nariz {
  background-image: url(../imagens/foto-02-min.png);
}

.sintomas-garganta {
  background-image: url(../imagens/foto-03-min.png);
}

h3.sintomas-cont__titulo {
  font-size: 30px;
  line-height: 43px;
  margin-bottom: 15px;
  font-weight: Regular;
  text-transform: uppercase;
  color: #ffffff;
}

li.sintomas-cont__item {
  font-size: 16px;
  font-weight: light;
  line-height: 25px;
  color: #ffffff;
  list-style-type: disc;
}

/*Blog*/

.img-fluid {
  width: 100%;
  height: auto;
}

.blog-cont__publicacoes {
  margin-top: 30px;
}

.blog-publicacoes__item {
  background-color: #00A19C;
  border-radius: 10px;
  transition: .3s ease;
}

.blog-publicacoes__item.pb-5:hover {
  transform: scale(1.05);
  transition: .3s ease;
}

.blog-publicacoes__item:hover {
  cursor: pointer;
  box-shadow: 10px 5px 5px #0000003b;
}

.blog-cont {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
}

h3.blog-publicacoes__titulo {
  font-size: 25px;
  font-weight: bold;
  line-height: 27px;
  color: #ffffff;
}

h3.blog-cont__titulo {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 46px;
  color: #ffffff;
}

p.blog-cont__paragrafo {
  text-align: center;
  font-size: 25px;
  font-weight: Regular;
  line-height: 40px;
  color: #ffffff;
}

p.blog-publicacoes__paragrafo {
  color: #ffffff;
  font-size: 16px;
  font-weight: light;
  line-height: 25px;
}

a.blog-publicacoes__link {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

a.blog-publicacoes__link:hover {
  color: #986683;
}

span.blog-cont__span {
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 46px;
  font-weight: light;
  color: #ffffff;
}

.blog-publicacoes__botao {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/*Contato*/

section#contato-drmarina {
  padding: 50px 0 50px 0;
  background-color: #FFF9F9;
}

h3.contato-titulo {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  color: #986683;
}

h4.consultorio-titulo {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: #00A19C;
}


p.consultorio-paragrafo {
  font-size: 20px;
  font-weight: Regular;
  line-height: 30px;
  color: #3B3B3B;
}

p.consultorio-paragrafo a {
  font-size: 20px;
  font-weight: Regular;
  line-height: 30px;
  color: #3B3B3B;
  text-decoration: none;
}

.iframe-mapa {
  max-width: 100%;
}

.contato-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contato-cont__consultorio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*footer*/

footer.drmarina {
  background-color: #986683;
  padding: 30px 0;
}

.nav-footer__cont a, .nav-footer__paragrafo {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

span.esconde-visual {
  color: transparent;
}

.nav-footer__cont-links {
  display: flex;
}

.nav-footer__cont.links-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-footer__cont.links-1 {
  display: flex;
  align-items: center;
}

.nav-footer__cont span {
  margin-left: 5px;
}

.nav-footer__cont a {
  margin-right: 30px;
  display: flex;
}

a.logo-doctor {
  width: 20px;
}

.nav-footer__cont-links3 {
  display: flex;
  width: 34%;
}

.before-footer {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-top: 9px;
}

img.nav-footer__instagran {
  width: 100%;
}

/*media 1060px*/

@media screen and (max-width:1160px) {
  p.banner-paragrafo {
    font-size: 24px;
    line-height: 29px;
    margin-top: 10px;
  }

  h1.banner-titulo.banner-titulo__after {
    margin-top: 149px;
  }

  h1.banner-titulo.banner-titulo__before {
    width: 203px;
  }

  h1.banner-titulo {
    width: 274px;
    height: 47px;
    font-size: 44px;
    line-height: 50px;
  }

  p.sobre-cont__paragrafo2, .sobre-cont__paragrafo1 {
    font-size: 16px;
    line-height: 25px;
  }

  span.sobre-cont__span {
    font-size: 20px;
  }

  h2.sobre-cont__titulo {
    font-size: 30px;
    margin: 5px 0;
  }

  h3.sintomas-cont__titulo {
    font-size: 25px;
    line-height: 35px;
  }

  .sintomas-cont {
    height: 468px;
    padding: 0 25px;
  }


  .sintomas-container {
    top: -364px;
  }

  h2.sintomas-h2__titulo {
    font-size: 25px;
    line-height: 30px;
  }

  .blog-cont {
    height: 208px;
    padding: 0 8px;
  }

  .blog-conteudo {
    margin-top: -5px;
  }

  div#blog-drmarina {
    top: 600px;
  }

  h3.blog-publicacoes__titulo {
    font-size: 18px;
    line-height: 20px;
  }

  p.blog-publicacoes__paragrafo {
    font-size: 16px;
    line-height: 22px;
  }

  h3.blog-cont__titulo {
    font-size: 30px;
    line-height: 35px;
  }

  span.blog-cont__span {
    font-size: 25px;
    line-height: 30px;
  }

  p.blog-cont__paragrafo {
    font-size: 20px;
    line-height: 30px;
  }

  h4.consultorio-titulo {
    font-size: 18px;
    line-height: 17px;
  }

  p.consultorio-paragrafo {
    font-size: 16px;
    line-height: 20px;
  }

  .nav-footer__cont.links-2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .nav-footer__cont.links-1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-footer__cont-links3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav-footer__cont-links {
    display: flex;
    justify-content: center;
    margin: 20px 78px 20px 0;
  }

  .nav-footer__cont a {
    margin-top: 20px;
  }

}

@media screen and (max-width: 990px) {

  /*menu mobile*/

  li#redes-mobile__consulta {
    display: flex;
  }

  .redes-nav-header {
    display: none;
  }

  #redes-mobile__consulta, #redes-mobile__consulta2, #redes-mobile__consulta3 {
    display: block;
  }

  ul.navbar-nav {
    background-color: #00A19C;
    width: 90%;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
  }

  .bg-light {
    background-color: transparent !important;
  }

  .navbar {
    justify-content: flex-end;
    margin-right: 10px;
  }

  .navbar-light .navbar-toggler {
    color: #00A19C;
    border-color: none;
  }

  .navbar-toggler {
    background-color: #fff;
    z-index: 999;
  }

  .navbar-nav {
    padding: 25px 0;
  }

  a.redes-sociais__link.marcar-consulta:hover {
    background-color: #986683;
    color: #fff;
  }

  .navbar-expand-lg .navbar-nav {
    align-items: flex-start;
  }

  li.redes-sociais_item {
    margin-left: 29px;
    margin-top: 20px;
  }



  /*fim menu mobile*/

}


@media screen and (max-width: 768px) {
  .nav-footer__cont-links3 {
    width: 100%;
  }

  .sobre-cont__texto.col-md-6.col-12 {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .sintomas-conteudo.sintomas-mobile__conteudo.slick-initialized.slick-slider {
    display: block;
  }

  a#na-footer__box-insta {
    margin-top: 0;
    margin-right: 0px;
  }


  .navbar-nav {
    padding: 15px;
  }

  .collapse:not(.show) {
    background-color: #00A19C;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
  }

  .navbar {
    justify-content: flex-end;
    margin-right: 10px;
  }

  .navbar-toggler {
    background-color: #fff;

  }

  .bg-light {
    background-color: transparent !important;
  }

  .navbar-light .navbar-toggler {
    color: #00A19C;
    border-color: none;
  }

  .nav-redes__navegacao {
    display: none;
  }

  h1.banner-titulo.banner-titulo__after {
    margin-top: 80px;
  }

  h1.banner-titulo.banner-titulo__before {
    width: 188px;
  }

  h1.banner-titulo {
    font-size: 40px;
    line-height: 55px;
    width: 250px;
    height: 51px;
  }

  img.logo-header_dr {
    width: 150px;
    height: 150px;
  }

  p.banner-paragrafo {
    font-size: 20px;
    line-height: 28px;
  }

  .banner-span {
    font-size: 16px;
    line-height: 21px;
  }

  .sobre {
    padding: 50px 0 50px 0;
  }

  .sintomas-container {
    position: initial;
    margin-top: 0;
  }

  h2.sintomas-h2__titulo {
    font-size: 20px;
    line-height: 27px;
  }

  .sintomas-cont {
    margin-bottom: 30px;
  }

  p.blog-cont__paragrafo {
    font-size: 18px;
    line-height: 24px;
  }

  .blog-cont {
    margin-bottom: 30px;
    padding: 0 5px;
  }

  span.blog-cont__span {
    font-size: 23px;
    line-height: 33px;
  }

  h3.blog-cont__titulo {
    font-size: 25px;
    line-height: 42px;
  }

  div#blog-drmarina {
    position: initial;
    margin-top: -10px;
  }

  .blog-publicacoes__item.pb-5 {
    margin-top: 30px;
    padding-bottom: 5px !important;
  }

  .blog-conteudo_box {
    margin-bottom: 75px;
  }

  section#contato-drmarina {
    padding: 0px 0 30px 0;
  }

  .contato-cont__consultorio {
    margin-bottom: 30px;
  }

  p.consultorio-paragrafo {
    font-size: 14px;
    line-height: 20px;
  }

  h4.consultorio-titulo {
    font-size: 16px;
    line-height: 17px;
  }

  h3.contato-titulo {
    font-size: 20px;
    line-height: 25px;
  }

  p.consultorio-paragrafo a {
    font-size: 14px;
    line-height: 22px;
  }

  .blog-cont {
    height: 140px;
  }

  .nav-footer__cont.links-2 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  a.nav-footer__paragrafo {
    text-align: center;
    margin: 25px 0px;
  }

  .nav-footer__cont a {
    margin-right: 10px;
  }

  .nav-footer__cont.links-1 {
    justify-content: center;
  }

  .logo-doctor {
    margin: 20px;
  }

  footer.drmarina {
    padding: 30px 0;
  }

  p.nav-footer__paragrafo {
    text-align: center;
  }

  .logo-header_dr {
    width: 30px;
  }

  .before-footer {
    display: none;
  }

  #sintomas-desktop {
    display: none;
  }

  .sintomas-mobile__conteudo {
    display: block;
  }

}